@media screen and (min-width: 320px) and (max-width: 640px) {
.header
{
margin: 12px;
justify-content: center;
background-color: grey; 
}

a
{
text-decoration: underline;
}	

a:hover
{
text-decoration: none;
}	

.main-catalog
{
margin-left: 12px;
margin-right: 12px;
max-width: 100%;
overflow: hidden;

}

.promo-catalog
{
display: grid;
grid-template-columns: 48% 48%;
grid-column-gap: 20px;
max-width: 100%;
overflow: hidden;
}

.item
{

opacity: 100%;

}

.item:hover
{
opacity: 60%;
}

img
{
width: 100%;
height: auto;
}

p
{
max-width: 100%;
font-size: calc(1em + 1vw);
overflow-wrap: break-word;
}

h1
{
font-size: calc(1em + 4vw);
}

h2
{
font-size: calc(1em + 4vw);
}
}


@media screen and (min-width: 641px) and (max-width: 800px) 
{
  .header
{
margin: 40px;

}
.menu
{
position: relative;
left: 80%;
bottom: 140px;
}

a
{

text-decoration: underline;
}	

a:hover
{
text-decoration: none;
}	

.main-catalog
{
margin-left: 40px;
margin-right: 40px;
display: grid;
grid-column-gap: 24px;
grid-template-columns: repeat(3, 33%);
max-width: 100%;
overflow: hidden;

}

.promo-catalog
{
max-width: 100%;
display: grid;
margin-left: 40px;
margin-right: 40px;
grid-column-gap: 20px;
grid-template-columns: repeat(4,24%);
max-width: 100%;
overflow: hidden;
}

.item
{

opacity: 100%;

}

.item:hover
{
opacity: 60%;
}

img
{
max-width: 100%;
heigh: auto;
}

p
{
max-width: 100%;
font-size: calc(1em + 1vw);
overflow-wrap: break-word;
}

h1
{
font-size: calc(1em + 1vw);
}

h2
{
font-size: calc(1em + 1vw);
}
}
